# Intellij
.idea/
*.iml

# Build
bin/
build/
release/

# Logs
*.log

# Vagrant folders
*.vagrant

# Ignore Java build related files and folders
*.gradle
*.war

# ignore generated i18n_resources
cli/utils/i18n_resources.go

# Ignore the generated example yamls
examples/bluemix.cfg
examples/docker-bookinfo.yaml
examples/docker-controlplane.yaml
examples/helloworld*.json
examples/docker-helloworld*.yaml
examples/docker-bookinfo*.yaml
examples/k8s-controlplane.yaml
examples/k8s-bookinfo.yaml
examples/k8s-helloworld*.yaml
examples/bookinfo*.yaml
